<DOCTYPE! html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/aboutus.css">
<title>About</Title>
</head>
<body>
<div id="header" >
<center>
<img src="gallery/me.jpg" alt="Founder">
<p>"Confident to yourself make believe you in everything"</p>
<h1>Niranjan Bairwa</h1>
<p style="line-height:1%;">Founder</p>
</center>
</div>
<div style="background-color:whitesmoke">
<center>
<h2>Team</h2>
Developer | Designer | Founder <br>
<p>Niranjan Bairwa  , ....</p>
</center>
</div>
<div>
<center>
<h2>Support</h2>
<span>
<!--
&nbsp&nbspSupported hand : 
<br-->
</center>
<p style="padding-left:5%;">Utkarsh Arvind -<br>An inspiration , a guider and indeed a good friend .</p>
<br><center>
&nbsp&nbspSupported  media :
</center>
<ul>
<li>  <a href="https://www.w3schools.com/">W3school</a></li>
<li>  <a href="https://stackoverflow.com/">Stackoverflow</a> </li>
<li>  <a href="https://www.youtube.com/channel/UCjH-FPCFAWZEDP8EZVZ0nlQ">Saurabh Sukla</a> </li>
<li>  <a href="https://www.google.com/">Google</a>  </li>
</ul>
</span>
</div>
<div id="bottom" style="background-color:whitesmoke">
<center>
<h2>Contact </h2>
Email : <a href="chefaura7890@gmail.com"> chefaura7890@gmail.com</a>
</center>
</div>
</body>
</html>