<!DOCTYPE html>
<html>
  <%- include('header_link.ejs') %>
<body>
  <%- include('logo.ejs') %>
<div class="container">
  <form action="/post_signup" method="POST" enctype="application/x-www-form-urlencoded">
    <div class="row">
      <div style="text-align:center; font-size:40px; opacity:1;">Sign Up</div>
      <br>
      <div style="font-size:15px ;opacity:0.5"> Already have a QTs account? <span ><a style="color:rgb(51, 187, 255); text-decoration:none;" href="login">Log In</a></span>
      </div>
      <br> 

        <!--      

<div class=vl></div>

-->
      <div class="col">
        <input style="border-bottom:0.5px ridge rgb(96,96,96)" type="text" name="username" placeholder="Username" required >
        <input style="border-bottom:0.5px ridge rgb(96,96,96)" type="text" name="fullname" placeholder="Full Name" required >       
        <input style="border-bottom:0.5px ridge rgb(96,96,96)"  type="password" name="password" placeholder="Password" required>
        <dfn title="OPTIONAL....coming soon in updated version">
        <input style="border-bottom:0.5px ridge rgb(96,96,96)"  type="password" name="recoverpassword" placeholder="For Recover Password" ></dfn>
        <br>
        <br>
        <input  id="logbutton"  type="submit" name="submit" style="float:inherit; margin-top:12px; " value="Sign Up">
      </div>
      
    </div>
  </form>
</div>
<br><br>
<p style="font-size:11px; text-align:center; opacity:0.5;" >  * By logging in, you agree to our  <a style="color:rgb(51, 187, 255); text-decoration:none; opacity:1;" href="termsofuse">Terms of Use </a>and to receive<br> QTs emails & updates and acknowledge that you read our<br><a style="color:rgb(51, 187, 255);opacity:1; text-decoration:none;" href="privacypolicy"> Privacy Policy.</a>
</p>
<!--script>
function goBack() {
  window.history.back();
}
</script-->
</body>
</html>
