#header{
   padding-top:70px;
   height:100%;
}
img{
widows: 40%;
height:40%;
border-radius: 1%;
}
p{
color: rgb(141, 177, 224);
font-size: 18px;
font-weight: 300;
}
h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: slategray;
}
h1{
    font-size: 30px;
    font-weight: 500;
    color:rgb(4, 66, 117);
    font-family: monospace;
    line-height: 20px;

}
body{
  /*  text-align: center;*/
}
div{
    height:60%;
    padding-top:20%;

}
span{
    text-align: left;
}
ul{
   
    padding-left:5%;
}
li{
    text-decoration: none;
    list-style: none;
    color: rgb(141, 177, 224);
    font-size: 18px;
    font-weight: 300;
    }

a{
    text-decoration:none;
    color:slategray;
}
@media screen and (max-width: 650px) {
    body{margin: 0;}
    div {
        height:40%;
    }
    #bottom{
       margin-top: 55%;
    }
    #header{
        height:70%;
    }
}