.header{
    background-color:yellow;
    padding:1em;
    text-align:center;
    font-size: larger;
  }
  
  .container{
      width:100%;
    }
    
  .container .btn .btncontent{
     font-size:1.1em;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
     opacity:1; 
     color:rgb(26, 24, 24);
     padding:0.1em;
    }
  .btn{
      margin:0.8em;
  
    }
  .btn button{
      color:rgb(98, 107, 112);
      padding:0.05em;
      border:0 solid white;
      background-color: white; 
    }
  
  .progressbar{
    counter-reset:step;
    padding:unset;
    margin-top:1.8em;
  }
  
  .progressbar li{
      list-style-type:none;
      float:left;
      position:relative;
      width:50%;
      text-align:center;
      }
  
  .progressbar li:before{
      content:counter(step);
      counter-increment:step;
      width:1.6em;
      height:1.6em;
      line-height:1.66em;
      border:0.5px solid rgb(78, 81, 83);
      display:block;
      text-align:center;
      margin:0 auto 10px auto;
      border-radius:100%;
    background-color:white;
    color:grey;
    }
  .progressbar li.pics:before{
    border:0.5px solid rgb(97, 187, 247);
    color:rgb(97, 187, 247);
  }
  .progressbar li.active:before{
    background-color: rgb(97, 187, 247);
    border:0px solid white;
    color:white;
  }
  
  .progressbar li:after{
      content:'';
      position:absolute;
      width:100%;
      height:0.02em;
      top:0.8em;
      left:-50%;
          z-index:-1;
          background-color:grey;
      }
  .progressbar li.active:after{
          background-color: rgb(97, 187, 247);
  }
  .progressbar li:first-child:after{
      content:none;
    }
    
  .material-icons{
      position: absolute;
         top: 0.8em;
          left: 0.4em;
      color: rgb(97, 187, 247);	
  }
  
  .container div ul li{
    line-height:0.2em;
   } 
   .container div ul li.active span{
    font-size:0.7em;
    color: rgb(97, 187, 247);
    
  }
  .container div ul li span{
    font-size:0.7em;
    font-weight:600;
    color: rgb(160, 158, 158);  
  }
  
  .container div ul li.pics span{
    font-size:0.7em;
    font-weight:600;
    color: rgb(97, 187, 247); 
  }
  .header{
    background-color:yellow;
    padding:1em;
    text-align:center;
    font-size: larger;
  }
  
  .container{
      width:100%;
    }
    
    .container .btn .btncontent{
     font-size:1.1em;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
     opacity:1; 
     color:rgb(26, 24, 24);
     padding:0.1em;
    }
   .btn{
      margin:0.8em;
  
    }
    .btn button{
      color:rgb(98, 107, 112);
      padding:0.05em;
      border:0 solid white;
      background-color: white;
     
    }
  
  
  .progressbar{
    counter-reset:step;
    padding:unset;
    margin-top:1.8em;
  }
  
  .progressbar li{
      list-style-type:none;
      float:left;
      position:relative;
      width:50%;
      text-align:center;
      }
  
  .progressbar li:before{
      content:counter(step);
      counter-increment:step;
      width:1.6em;
      height:1.6em;
      line-height:1.66em;
      border:0.5px solid rgb(78, 81, 83);
      display:block;
      text-align:center;
      margin:0 auto 10px auto;
      border-radius:100%;
    background-color:white;
    color:grey;
    }
  .progressbar li.pics:before{
    border:0.5px solid rgb(97, 187, 247);
    color:rgb(97, 187, 247);
  }
  .progressbar li.active:before{
    background-color: rgb(97, 187, 247);
    border:0px solid white;
    color:white;
  }
  
  .progressbar li:after{
      content:'';
      position:absolute;
      width:100%;
      height:0.02em;
      top:0.8em;
      left:-50%;
    z-index:-1;
    background-color:grey;
      }
  .progressbar li.active:after
  {
    background-color: rgb(97, 187, 247);
  }
  .progressbar li:first-child:after{
      content:none;
    }
    
  
  
  .container div ul li{
    line-height:0.2em;
   } 
   .container div ul li.active span{
    font-size:0.7em;
    color: rgb(97, 187, 247);
    
  }
  .container div ul li span{
    font-size:0.7em;
    font-weight:600;
    color: rgb(160, 158, 158);  
  }
  
  .container div ul li.pics span{
    font-size:0.7em;
    font-weight:600;
    color: rgb(97, 187, 247);
    
  }
  
  .step1{
   margin-top:3em;
   display:none;
  }
  .step1 input{
    border-width: 0 0 1px 0;
    width:87%;
    line-height:2em;
    font-size:0.8em;
    margin-left:4.5%;
    padding-left:2%;
  }
  .step1 textarea{
    border-width: 0 0 1px 0;
    width:87%;
    /*line-height:2em;*/
    font-size:1.2em;
    margin-left:4.5%;
    padding-left:2%;
    height:1.5em;
  }
  .step12 {
      display: grid; 
      grid-template-columns: auto auto auto;
      grid-template-rows:5.5em 5.5em 5.5em;
      grid-gap:0.5em;
  }
  label{
      display:none;
  }
  .image{
      display:none;
      opacity:0;
      z-index:-1;
  }
  /*#img1,#img2,#img3,#img4,#img5{
      opacity:0;
      z-index:-1;
  }*/
  .step12 > label div{
      text-align:center;
      vertical-align:middle;
      border:0.05em solid lightgray;
      color:lightgray;
      
  }
  