*{
  box-sizing: border-box;
padding-top:0px;
margin:0px;
 }
body
{background:white;
}
#header
{
background-image: url('../gallery/header3.jpg');
background-size:cover;
  color: light green;
opacity:1;
  text-align:center;
  font-family:MingLiU_HKSCS-ExtB;
  text-shadow:2px 3px 5px white;
 
 border-style: solid ;
border-color:rgb(0, 0, 102);
border-width:0.5px 0.5px 0.5px 0.5px;
  height:150px;
    padding-top:20px;
font-size: 3.0em;
margin-bottom:13px;

width:100%;
}

ul.index{
list-style-type:none;
/*margin-top:10px;rgb(0, 0, 102);*/
padding:0px;
text-decoration:none;
background-color:white;
border-style: solid ;
border-color:rgb(0, 0, 102);
border-width:0.5px 0px 0.5px 0.5px;
margin:0px;
display:block;
}

ul.index li{ float:left;
 }
ul.index li a{
color:rgb(0, 0, 102);
padding:9px  16px;
text-align:center;
display: block;
text-decoration:none;
}

ul.index li a:hover{
color:white;

 }

a.active{
background-color:rgba(26, 26, 255,0.7);}

ul.index li a:hover:not(.active)
{background-color:rgba(26, 26, 255,0.7);
color: white; }

ul.index li a.active:hover
{background-color:rgb(26, 26, 255);
color: white; }


li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(225,225,225);
}

li.index.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:white;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 0.5px;
  text-decoration: none;
  display: inline;
  text-align:left;
border-style: solid ;
border-color:rgb(0, 0, 102);
border-width:0.5px 0px 0.5px 0px;
}

.dropdown-content a:hover {background-color: rgba(0,0,102,0.5);}

.dropdown:hover .dropdown-content {
  display: block;
}



.right:hover{
background-color:rgb(26, 26, 255);
color: black; }

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 340px;
  right: 15px;
  border-radius:10px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
.form-closeup {
  display: none;
  position: fixed;
  bottom: 340px;
  right: 15px;
  padding:10px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
.form-closeup:hover{
background:black;
color:white;}

/* Add styles to the form container */
.form-container {
  width: 250px;
height:250px;
  padding: 10px;
  background-color: white;
}


/*columns*/
.column{float:left;
padding-left:20px;
}
.column.left{
width:30% }

.column.middle{
max-width:70%;
overflow:auto;
margin-left:20%;
 }

.column.right{
width:30%;
float:right; }

.block{
background-color:rgb(224,224,224);
padding:0px;
margin-left:1000px; }

.template{
border-style:double;
border-width:5px;
border-color:white;
background-color:white;
padding:15px; 
overflow-y:scroll;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer{
  background-color:rgb(19,43,64);
  float:left;
  padding:30px;
  padding-left:50x;
padding-top:20px;

  height:140px;
  width:100%;
  position:fixed;
  bottom:0px;
}
  .footer li a{
  text-decoration:none;
  padding-right:50px;
  color:rgba(225,225,225,0.5);
  float:left;
  }
.footer li a:hover{
  color:white;
  background: transparent;}
/*@media screen and(max-width:300px){
.row{
flex-direction:column;}
}

@media screen and(max-width:300px){
.index a {float:none;
width:100%;}
}
*/
.vernav{
display:block;
padding:5px;
float:down;
}

.example input[input=text]
{
padding:10px;
font-size:17px;
border:1px solid grey;
text-align: justify;
background:#f1f1f1;}
.example button{

padding:10px;
color:white;
font-size:17px;
border:1px solid grey;
border-left:none;
cursor:pointer;
}

.autocomplete{
  position: relative;
  display: flex;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 6px;
  font-size: 16px;
  margin:2px;
  border-radius:5px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: rgba(26, 26, 255,0.7);
  color: #fff;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: rgb(26, 26, 255);
    color: black;
  
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  background-color:white;
}

.grid{
  background-color:rgba(198,204,212,0.3);
  overflow:auto;
 padding:5px 0 5px 0;
}

#headerr{
  padding-left:10px;
   padding-top:10px;
  border:8px solid white;
  border-width:12px 0 10px 0;
  height:83%; 
  overflow:auto;

}
#outside{
width: 700px;
margin:auto;
margin-bottom:40px;
height:600px;
border:0.5px dotted white;
border-radius:6px;
padding-top:10px;
  overflow:hidden;
/* <!--box-shadow:0 10px 10px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.5);--> */
}
#like{
padding:10px 40px 10px 40px;
float:left;
}
pre {
    display: block;
    font-family: monospace;
    white-space: pre; 
}
.material-icons {
color:white;
font-size:40px;}
#share{
color:rgb(0, 122, 153);
float:right;
padding:10px 40px 30px 40px;
}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  margin-top:0;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
 
 .footer{
  display:none;
 position:fixed;
 bottom:0px;
background-color:rgb(19,43,64);
float:left;
padding:15px;
padding-left:50x;
height:100px;
width:100%;}
.footer li a{
text-decoration:none;
padding-right:50px;
color:rgba(225,225,225,0.5);
float:left;
}
ul.index a.icon {
  display: none;
}
.bottom{
text-align:center;
font-size:12px;}
ul.index a.icon {
  display: none;
}
#right{
float: right;}



@media screen and (max-width: 600px) {
   ul.index li a:not(.active ) {display: none;}
  ul.index a.icon {
    float: right;
    display: block;
    padding:2.2%;
  }
  .column{
padding-left:unset;
}
.column.middle{
max-width:unset;

margin:0.1%;
margin-top:10%;}
.footer{
padding-left:20px;
padding-bottom:10px;
height:auto;}
.footer li a{
padding-right:20px;
float:unset;}
#right{
float:unset;}
.bottom{
font-size:unset;
text-align:justify;
padding:0 30px 0 30px;
}
#outside{
  width:100%;}

#header{
padding:10%;
height:unset;}
}

@media screen and (max-width: 600px) {
  
  ul.index.responsive .icon {
    position: absolute;
    right: 0;
    top: 23.3%;
  }
ul.index.responsive.sticky .icon {
    position: absolute;
    right: 0;
    top: 2.5%;
  }
   
  ul.index.responsive li {
    float:unset;
    display: block;
    text-align: left;
  }

 ul.index.responsive li a{
    float:none;
    display: block;
    text-align: left;
  }
}