
body {
  font-family: Arial, Helvetica, sans-serif;

}

* {
  box-sizing: border-box;
}
.logo{
  width:120px;
  height:120px;
}
/* style the container */
.container {
  position: relative;
/*    padding-top:5%;  */
  text-align :center;

} 

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
 /*
  padding: 15px 32px;  
  */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color:black
  ; 
  border: 2px solid white
  ;
}

/* style inputs and link buttons */
input,
.btn {
  width:70%;
  padding: 12px;
  border: none;
  border-radius: 0px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

#logbutton{
/*
width:26%;   
*/
border:0.5px solid rgb(51, 187, 255);
font-size:14px;
text-align:center;
text-decoration:none;
border-radius:50px;
background-color:white;
marging-left:30px;
padding:1.8%;
color:rgb(51, 187, 255);
}


.btn:hover {
  opacity: 0.5;


  
}
input:hover{
        
	border-style:solid;
 border-width:0px 0px 1px 0px;
border-color:rgb(51, 187, 255);
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.forgot{
float:left;
padding:10px;
font-size:14px;
text-decoration:none;


padding-left:50px;

}
.forgot:hover{
color:rgb(51, 187, 255);}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
input[type=submit] {
  background-color:rgb(96,96,96);
  color: white;
  cursor: pointer;
opacity:0.5;
 }

 #logbutton:hover {
  background-color: rgb(0, 153, 230);
color:white;
opacity:1;
}

/* Two-column layout */
.col {
 /* float: left;
  padding-left:250px;   */
  width: 50%;
  margin: auto;
 
  margin-top: 6px;
}
/*
 .right{
padding-right:250px;
float: left;
  width: 50%;
  margin: auto;
  margin-top: 4px;
} 
*/
 #login{
position:relative;
padding-left:0px;
float:left;
font-size:14px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
 /* transform: translate(-50%)*/
  border: 0.5px solid rgba(96,96,96,0.5);
 opacity:0.5;
  height: 190px;
}


/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .logo{
    width:100px;
    height:100px;
  }
  .col {
    width: 100%;
    margin-top: 0;

  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
   float:left;
  }
 .forgot{
padding:10px;
}

